[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rdflib = "*"
requests = "*"
pyontutils = {editable = true, path = "./../../pyontutils"}
pyvis = "*"
networkx = "*"

[requires]
python_version = "3.8"
